
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    /*border-top: 2px solid aqua;*/
    min-height: 500px;
    min-width: 320px;
    width: 100%;
}
/*------------------------------------------------------Header-*/
header {
    height: 40px;
    /*border: 2px solid brown;*/
    width: 100%;
}

    header span {
        padding: 6px 10px;
     font-size:14px;
    }


header span img {
    float: right;
    height: 80%;
    margin: 0;
    padding: 5px 10px;
}

    header span img:hover {
        background-color: #ccc;
    }

/*------------------------------------------------------Main Row---*/
.row {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: row;
}
/*-----------------------------------------------------Top Nav---*/
.topnav {
    /*border: 2px solid green;*/
    width: 100%;
    height: 9%;
    padding: 5px;
}

.pagination {
    display: inline-block;
    float: left;
}

.history-icon {
    display: none;
    float: right;
    padding: 5px 8px;
}

#historyIconImg {
    width: 20px;
    height: 20px;
    color: black;
}

.history-icon:hover {
    background-color: #ccc;
}

.history-icon:visited {
}

.pagination a {
    text-decoration: none;
    float: right;
    color: black;
    margin: 4px 6px;
    font-size: 16px;
}

    .pagination a.active {
        border-bottom: 3px solid blue;
    }

    .pagination a:focus:not(active) {
        border-bottom: none;
        border-bottom: 3px solid blue;
    }

/*---------------------------------------------input Row--*/
.input-row {
    width: 100%;
    /*border: 2px solid blue;*/
    height: 20%;
}

    .input-row div {
        display: block;
        float: right;
        clear: both;
        background-color: #e6e6e6;
        font-weight: bold;
        font-size: 44px;
        text-align: right;
        /*border: 2px solid red;*/
    }

#result {
}
/*.input-row input:focus{
        border:none;
    }*/
/*---------------------------------------------Memory table Row---*/
#memory-Store {
    display: none;
}

.memory-row {
    border-collapse: collapse;
    padding: 5px;
    /* border: 2px solid orange; */
    height: 10%;
    width: 100%;
   
}

    .memory-row .memory-btn {
        border: none;
        padding: 7px 0;
        background-color: #e6e6e6;
        float: left;
        width: 15%;
        justify-content: center;
        display: flex;
        height: 30px;
        margin-top: 22px;
    }

        .memory-row div:hover {
            background-color: #ccc;
        }
/*-----------------------------------------------Memory Tooltip--*/
.tooltip {
    position: relative;
    font-size: 14px;
}

    .tooltip .tooltip-text {
        visibility: hidden;
        width: 140px;
        background-color: #e6e6e6;
        border: 1px solid #ccc;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0px;
        font-size: 12px;
        /*transition-delay: 1s;
        transition-duration: 1s;
        transition-timing-function: ease-out;*/
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 100%;
        margin-left: -80%;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
    }
/*------------------------------------------------------top-row table--*/
#toprow {
    display: none;
}

/*--------------------------------------------------main table-----*/

.maintable {
    border: 2px solid groove;
    width: 100%;
    border-collapse: collapse;
    height: 60%;
}

    .maintable td {
        /*padding: 25px 45px;*/
        width:20%;
        height:20%;
        border: 2px solid #ddd;
        background-color: #fafafa;
        text-align: center;
    }

        .maintable td:hover {
            background-color: #ccc;
        }

        .maintable td:hover {
            background-color: #ccc;
        }

    .maintable #equal:hover {
        background-color: #4599db;
    }

    .maintable .OperationButton {
        background-color: #f0f0f0;
    }

/*< ---------------------------------------------side column--->*/
.recyclebin-icon {
    /*display:none;*/
    padding: 10px 15px;
    position: absolute;
    right: 0;
    bottom: 0;
}

    .recyclebin-icon:hover {
        background-color: #ccc;
    }
/*-----------------------------------------------------memory side--*/
.memory-side {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    padding-left: 11px;
}

#memory {
    display: none;
}
/*---------------------------------------------Column-*/

.column {
    float: left;
}

    /*right column */
    .column.side {
        width: 25%;
        /*border: 2px solid red;*/
        position: relative;
    }

    /* Middle column */
    .column.middle {
        width: 75%;
        /*border: 2px solid yellow;*/
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*------------------------------------------------------media----*/
@media screen and (max-width: 600px) {
    .pagination a {
        display: none;
    }

    #memory-Store {
        display: flex;
    }

    .history-icon {
        display: block;
    }

    .column.side, .column.middle {
        width: 100%;
        height: 100%;
    }

    .column.side {
        display: none;
        min-height: 468px;
    }

    .maintable tr td.left-column {
        /*display:table-cell;*/
        display: none;
    }

    #toprow {
        display: table-row;
    }

    .maintable td {
        height: 16.66%;
    }
}
